<!--Configuraciones inciales de Angular, modificadas ...............ↆ-->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span class="h4">LAS DIRECTIVAS EN ANGULAR</span>
  <div class="spacer"></div>

  <a aria-label="" target="_blank" rel="noopener" href="" title="Linkend">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-linkedin"
      viewBox="0 0 16 16">
      <path
        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
    </svg>
  </a>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener"
    href="https://github.com/ANTONIOa7o/DESARROLLO_ANGULAR/tree/main/DESARROLLA%20_ANGULAR/1-ANGULAR_I" title="github">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-github"
      viewBox="0 0 16 16">
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
    </svg>
  </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
      viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill="#d70707" />
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33"
            d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
            transform="translate(0.371 3.363)" fill="#fff" />
          <path id="Path_34" data-name="Path 34"
            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)" fill="#fff" />
        </g>
      </g>
    </svg>

    <span>{{ title }}🚀</span>

    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>

  </div>
</div>


<!--

        /------------LAS DIRECTIVAS------------\

Surgen como nuevas directivas apoyadas en typeScript, presentan mayor
elegancia y eficacia a la hora de manipular informacion con diversas
variables en el entorno de Template(doctype)

Contamos con 3 tipo de directivas:
i)Componentes:
  Directivas que siempre tiene asignado una respuesta en el Html
ii)Estructurales:
  Genera modificaciones en el Html y ayuda a manipular determinados
  elementos de estructura
iii)Atributo:
  Directivas dirigidas a establecer condiciones y comportamientos que iran
  definidos desde el Html

-->

<!--
  1º directiva *ngFor

  Una de la directivas mas representativa de las estructurales que nos va a permitir
  realizar iteraciones sobre/desde un codigo html. Tomará valores de la iteracion aquellas
  que son pertenecientes a una coleccion de datos, variables..., apuntando alli donde
  aplicamos la directiva.

  Conclusiones:
  Mimetiza la expresión for, la propia condicion de dicha iteracion la marcara la 
  propia colecciona. En definitiva la propia expresion de dicha iteracion será una llamada
  y generará elemento de comparacion
  <script>
  for (const iterator of object) {
    
  }
</script>
-->
<div class="container " style="text-align: center;">
  <h2>Directivas *ngFor(Recorridod e todos los elementos) </h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let paqui of alumnos;index as i">
      {{i+1}} {{paqui.nombre}} {{paqui.apellido}} {{paqui.nota}} ✔
    </li>
  </ul>
  <hr>
  <!--
      2º directiva *ngIf

    Directiva tambien estructural, nos ofrece la condicion de las colecciones
    desde una estructura html. Concebida desde las estructuras clasicas (js if else)
    con la misma funcionalidad. 
    la expresion a la que esté asignada como true o false, respectivamente, trabajará
    la condicion desde esa estructura 
  -->
  <h2>Directivas *ngIf(Condiciones)</h2>
  <ul class="list-grop">
    <ng-container *ngFor="let a of alumnos;index as i">
      <li class="list-group-item" *ngIf="!a.repetidor"><!--Alumnos no repetidores-->
        {{i+1}} alumno: {{a.nombre}} {{a.apellido}}, nota global:{{a.nota}} ✔
      </li>
    </ng-container>
  </ul>

  <!--EJERCICIOS:-->
  <!--
  a) Mostrar en una tabla todos los alumnnos
  -->
  <h2>Ejercicios:</h2>
  <label for="">Mostrar todos los alumnos</label>
  <table class="table-group" style="margin-left: auto; margin-right: auto;">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Nota</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <hr>

  <!--
  b)Mostrar solo aprobados
  -->
  <label for="">Mostrar solo aprobados</label>
  <table class="table-group" style="margin-left: auto; margin-right: auto;">
    <tr>
      <th>Nombre</th>
      <th>apellido</th>
      <th>Nota</th>
    </tr>
    <tr *ngFor="let alum of alumnos">
      <td *ngIf="alum.nota >=5">
        {{alum.nombre}}
      </td>

    </tr>
  </table>
  <!--
  c)Mostrar repetidores que esten suspensos
  -->
  <label for="">Mostrar repètidores y Suspensos</label>

  <table class="table-group" style="margin-left: auto; margin-right: auto;">
    <tr>
      <th>Index&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Apellido&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Nota</th>
    </tr>
    <ng-container *ngFor="let alumno of alumnos; index as i">
      <tr *ngIf="(alumno.repetidor) && (alumno.nota<5)">
        <td>{{i+1}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{alumno.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{alumno.apellido}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{alumno.nota}}</td>
      </tr>
    </ng-container>
  </table>
  <hr>
  <!--.
      3º Directivas [ngStyle]

        Es una de las directivas de atributos principales.
      Parte de las estructuras de aplicacion de estilos, tal y como
      referencia html.
      Sintaxis divida en:
        a) [] Busqueda de recorrido y enlace, generando cambios no en su naturaleza
        pero si aspecto, percepcion , entorno
        b) ="{elemento/atributo:valor}"
  [ngStyle]="atributos:valor"

-->
  <h2>Directiva [ngStyle] (Definir un estilo desde condiciones)</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let x of alumnos;index as i"
      [ngStyle]="{color:x.nota >=5,backgroun:x.nota>=5 ? '#008800' : 'rgb(255,0,0)'}">
      alumno: {{x.nombre}} {{x.apellido}}, nota global:{{x.nota}} ✔
    </li>
  </ol>
  <hr>
  <!--
  Operador de Condicion(Ternario-elvis-)

    → expresion ?
    → Estructura, sentencia que evalua como true o false (atajo de if else)
    → Sintaxis:

      Sentencia condicion   ?     expresion1   :   expresion2
    Resuelve la condicion si es true, expresion1 y si fuera falsen expresion2
-->

  <!--
      4º Directiva [ngClass]

      Otra directivas dentro de atributo
      Utiliza principalmente clases definidas(css, sass, less,..)
      Sintaxis:
      [ngClase]="{elemento/atriubuto:valor}"

-->
  <h2>Directivas [ngClass](Definimos estilos desde condciones)</h2>

  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let x of alumnos;index as i" [ngClass]="{verde:x.nota >=5, rojo:x.nota <5 }">
      alumno: {{x.nombre}} {{x.apellido}}, nota global:{{x.nota}} ✔
    </li>
  </ol>
  <hr>
  <!--
  ejercicio:
  Realizar Definir un estilo (ngClass) y condiciones(?) mostrar sobresalientes en rojo 
-->

  <label for="">Ejercicio:</label>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let b of alumnos;index as i" [ngClass]="b.nota >=9 ? 'rojo' : 'verde'">
      alumno: {{b.nombre}} {{b.apellido}}, nota global:{{b.nota}} ✔
    </li>
  </ol>
  <label for="">Ejercicio de Operador anidado:</label>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let b of alumnos"
      [ngClass]="b.nota >= 9 ? 'violeta' : (b.nota < 5 ? 'rojo' : 'verde')">
      {{b.nombre}} {{b.apellido}} {{b.nota}} ✔
    </li>
  </ol>
  <h2>Ejercicio2 Style + anidacion+ operador</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let b of alumnos"
      [ngStyle]="{background:b.nota >= 9 ? '#888' : (b.nota < 5 ? 'rgb(255,0,0)' : '#458845')}">
      {{b.nombre}} {{b.apellido}} {{b.nota}} ✔
    </li>
  </ol>
  <!--
  5º [ngSwitch]
    Otra estructura de atributo, una directiva contenedora, especificará una 
    expresion con que haga coincidir la dicha condicion. (switch case asociado)
    Sintaxis en dos partes:
       a) [] Busqueda de recorrido y enlace, generando cambios no en su naturaleza
        pero si aspecto, percepcion , seleccion y entorno
        b) ="condicion/valor variable"
          [ngSwitch]="condicion/valor variable"
          *ngSwitchCase="{elemento:valor}"
-->

  <h2>Directiva [ngSwitch] y ngSwitcCase</h2>
  <ol class="list-group-numbered">
    <li class="list-group-item" *ngFor="let v of alumnos" [ngSwitch]="v.valoracion">
      <div *ngSwitchCase="'alta'" [ngClass]="'verde'">
        {{v.nombre}} {{v.apellido}} {{v.nota}} ✔
      </div>
      <div *ngSwitchCase="'media'" [ngStyle]="{backgroundColor:'#888'}">
        {{v.nombre}} {{v.apellido}} {{v.nota}} ✔
      </div>
      <div *ngSwitchCase="'baja'" [ngStyle]="{backgroundColor:'rgb(255,0,0)'}">
        {{v.nombre}} {{v.apellido}} {{v.nota}} ✔
      </div>
      
    </li>
  </ol>

</div>