<div class="container" style="text-align: center;margin:0 auto">
  <!--Bara de navegacion, basica-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"> <img src="../assets/images/icoAngular.png" alt="">
        <strong>{{title}}</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" class="example-icon" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a aria-label="" style="margin: 16px;" target="_blank" rel="noopener" href="" title="Linkend">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-linkedin"
                viewBox="0 0 16 16">
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
              </svg>
            </a>
            <a aria-label="" target="_blank" rel="noopener"
              href="https://github.com/ANTONIOa7o/DESARROLLO_ANGULAR"
              title="github">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-github"
                viewBox="0 0 16 16">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav><br>


  <hr>
  <!--Toolbar de Angular-->
  <mat-toolbar class="bg-dark p-4" style="width: 380px;text-align: center;margin:0 auto">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Example icon-button with menu icon">
      <mat-icon>search</mat-icon>
    </button>&nbsp;
    <span>App Servicio Pokemon</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <!--Ha embebido la estructura de una tarjeta de bootstrap, aprovechando ademas el boton
colapse de las navbar de bootstrap-->
  <div class="collapse" id="navbarToggleExternalContent" style="width: 380px;text-align: center;margin:0 auto">
    <div class="bg-dark p-4">
      <h4 class="text-danger h4">ENCUENTRA TU POKEMON</h4>

      <span class="text-muted">Nombre:
        <input type="text" [(ngModel)]="nombre">
      </span>&nbsp;
      <button type="button" (click)="buscar()" class="btn btn-outline-light">Buscar</button>

      <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Las Caracteristicas de tu pokemon son:</h5>
          <div *ngIf="pokemon !=null">
            <!--Imagen-->
            <img #front src="{{pokemon.sprites.front_default}}" >
            <img #back src="{{pokemon.sprites.back_default}}">
              <ul class="list-group ">
                <li class="list-group-item list-group-item-dark">Nombre:{{pokemon.name}}</li>
                <li class="list-group-item list-group-item-dark">Peso:{{pokemon.weight}}</li>
                <li class="list-group-item list-group-item-dark">altura:{{pokemon.height}}</li>
                <li class="list-group-item list-group-item-dark">Habilidades:
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item list-group-item-dark" *ngFor = "let habilidad of pokemon.abilities">
                      {{habilidad.ability.name}}
                    </li>
                  </ol>
                </li>
              </ul>
          </div>




          <!--   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    </div>
  </div> <br><br>

  <h3>FASES DEL DESPLIEGUE + FIREBASE 🚀</h3>
  <pre>
        1º LOGIN EN FIREBASE Y CREACION DEL PROYECTO
          a.Agregar PROYECTO
          b.Nombre proyecto(sin google analitics)
          c. Configuraciones [hosting]
          d.elegimos opcion web
          e.Nombramos la app, y Regristramos app
          f.instalacion por npm, seguimos indicaciones
          g. traemos las claves de configuracion de firebas a nuestro enviorement.prod
                true, firebaseConfig = 
            apiKey: "AIzaSyDYcgbKTl3XfaFrLq3JKBo44__wa5S9mzw",
            authDomain: "despliegue1-1e913.firebaseapp.com",
            projectId: "despliegue1-1e913",
            storageBucket: "despliegue1-1e913.appspot.com",
            messagingSenderId: "365184726600",
            appId: "1:365184726600:web:642fcd3fe0d5acf7fb8a7d"
          ;
        
        2º Configuraciones en consola

          a. npm install firebase(8.10.0)
          b. npm install @angular/fire(6.1.5/4)
          c.Importar la libreria de conexion con Firebase en app.module.ts 
          d. npm install -g firebase-tools
          e. firebase login
          f. firebase init
            f.1. preparados para el procedimiento: yes
            f.2 señalaremos hosting
            f.3 elegiremos el proyecto
            f.4 directorio publico: dist/nombre del proyecto en el package json linea 2
            f.5 compartir en github: n
          g. ng build --prod --aot
          h. firebase deploy
</pre>
</div>