<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">ANGULAR </h5><span><img src="../assets/images/icoAngular.png" alt=""></span>
    <span class="text-muted">{{titulo}} </span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/icoAngular.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONFIGURACIONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTALACION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">ROUTER LINK</a>
        </li>
      </ul>

    </div> <span class="text-white"> <code>{{title}}</code></span>
  </div>
</nav>
<app-principal></app-principal>
<!-- <app-secundario></app-secundario> -->
<!--
Ejemplo de arquitectura ortodaxa
  <app-header><app-header>
  <app-navbar><app-navbar>
  <app-seccion><app-seccion>
  <app-footer><app-footer>
-->