<div class="card-group">
    <div class="card">
      <img src="../../../assets/images/kisspng-gear-machine-metal-industry-steel-metal-gear-5a7bd79188cee9.7179633115180655535604.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Interconexiones</h5>
        <p class="card-text">Explicacion de las diversas librerias asocias a las conexiones de los componentes</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado hace 3 min</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/kisspng-truss-structure-bmw-3-series-gran-turismo-cross-br-trusses-5ada6f15b5c319.9285013915242647257445.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Integracion y Comportamiento de los Componentes</h5>
        <p class="card-text">Directiva y analisis de las integraciones de los componentes</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado hace 3 min</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/boladelmundo3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Desarrollo de Navegacion</h5>
        <p class="card-text">Creación de rutas establecidas, declaradas y controladas</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado hace 3 min</small>
      </div>
    </div>
  </div>
