<div class="container">
    <div class="jumbotron">
      <h2 class="display-4">Asunto:{{nombre}}</h2>
      <p class="lead">SINGLE PAGE APLICATION (SPA´s)</p>
      <hr class="my-4">
      <img src="../../../assets/images/boladelmundo4.png.png" alt="">
      <p>Herramientas para la ejecucion en los primeros pasos de configuracion:   </p>
      <ul>
        <li>VISUAL STUDIO CODE</li>
        <li>BROWSER (localhost:4200)</li>
        <li>NodeJs
          <ul>
            <li>npm</li>
          </ul>
        </li>
        <li>Angular Cli</li>
        <li>app.component.html</li>
      </ul>
   
      <a class="btn btn-primary btn-lg"
        href="https://github.com/ANTONIOa7o/DESARROLLO_ANGULAR/blob/main/DESARROLLA%20_ANGULAR/1-ANGULAR_I/Instalacion.md"
        role="button">Aprender +</a>
    </div>
  </div>
